body{
background-color: aqua;
    text-align:center;

}
.image-section{
    display: flex;
    justify-content: center;
    
}
div{
    margin-top: 15px;

}
.section-style{
    margin-left:25px;
    margin-right: 25px;
    background-color: darkviolet;
        
}
h1{
    font-family: cursive;
     color: crimson;
}
img{
    height:400px;
    width: 600px;
    border: solid;
    border-color: red;
}